@import url('https://fonts.googleapis.com/css?family=Pacifico');

.xop-section {
	max-width:1000px;
	margin:0 auto;
	padding:6% 2%;
}

.xop-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.xop-grid:after {
	clear: both;
}

.xop-grid:after,
.xop-box:before {
	content: '';
    display: table;
}

.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}

.xop-img-1 { 

 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../images/Atadage.jpg);
 background-size: cover;
}

.xop-img-2 { 
	
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../images/Hatadageya.jpg);
 background-size: cover;
}

.xop-img-3 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),

    url(../images/Kiri-Vehera.jpg);
 background-size: cover;
}

.xop-img-4 {
	
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../images/LankatilakaVihara.jpg);
 background-size: cover;
}
.xop-img-5 { 
	
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../images/satmahal.jpg);
 background-size: cover;
}
.xop-img-6 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../images/Vatadage.jpg);
 background-size: cover;
}
.xop-img-7 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../images/Thuparamaya.jpg);
 background-size: cover;
}

.xop-info {
	position: absolute;
	width: inherit;
	height: inherit;
}

.xop-info h3 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height:1.5;
}

.xop-info p {
    font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height:2;
}

.Imgcontainer p {
    font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	padding: 4px 5px;
	margin: 0 20px;
	font-size: 14px;
	line-height:2;
	font-size: 30px;
	font-weight: 400;

}

.Imgcontainer h2 {
   font-family: 'Pacifico', cursive;
    font-weight: 400;
	color: #000;
	font-size: 50px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height:1.5;
	margin-top: 150px;
	
	
    }
	
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

